body {
  margin: 0;
  font-family: Arial Rounded MT;
  font-size: 15px;
  line-height: 1.6;
}

.container {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.logo_link {
  text-decoration: none;
  margin: auto;
  font-size: 60px;
  background:linear-gradient(315deg,#ef629f, #eecda3);
  display: flex;
  justify-content: center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hint_text {
  text-align: center;
  font-weight: bold;
  font-size: 18px;

  margin: 4vh 0;
}

.input_hint {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.input_hint label {
    font-size: 14px;
  }

.input_bar {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 14px;
  border-radius: 16px;
  border-width: 1px;
  font-size: 16px;
  outline: none;
  /* -webkit-transition: 0.5s;
    transition: 0.5s; */
}

.input_bar:focus {
  border: 2px solid #5d69d3;
}

.meet {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.have_outer {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}

.have {
  color: #b06ab3;
  font-size: 12px;
}

.button_outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 25px;
  box-sizing: border-box;
  padding: 10px 45px;
  border-radius: 16px;
  border-style: none;
  color: #fff;
  background-color: #b06ab3;
  font-weight: bold;
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

.radio_hint {
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.radio {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 13px;
}

.error {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: red;
}

.field {
   margin-top: 15px;
}